@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: Montserrat;
}

:root {
    --textoprincipal: #4d4d4d;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, rgba(8, 3, 179, 1) 28%, rgba(0, 10, 83, 1) 100%);
}

.logo {
    width: 80%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.logo h1 {
    font-size: 35px;
    color: rgb(255, 255, 255);
}

h1 span {
    font-weight: 100;
}

.logo-site {
    width: 75px;
}

.menu-principal {
    width: 100%;
    margin: auto;
    box-shadow: 0px 2px 8px #cdcdcd;
    background-color: #ececec;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
}

a {
    margin: 15px;
    color: #4d4d4d;
}

i:hover {
    color: rgb(0, 119, 255);
    transition: all .3s ease-in-out;
}

#carrossel-principal {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    gap: 16px;
    margin-top: 30px;
}

span.material-symbols-outlined {
    color: #ffffff;
    position: absolute;
    right: 0;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.left {
    left: 0;
    background: linear-gradient(-267deg, rgba(0, 0, 0, 0.342), transparent);
}

.right {
    background: linear-gradient(267deg, rgba(0, 0, 0, 0.342), transparent);
}

.wrapper {
    width: 100%;
}

.wrapper img {
    width: 100%;
    display: block;
}


main{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}


.principal-noticia {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 30px auto;
    gap: 20px;
}

.noticia-1 {
    width: 480px;
}

.noticia-1 p {
    margin-bottom: 15px;
}

.noticia-1 img {
    width: 480px;
    border-radius: 10px;
    box-shadow: 0px 0px 4.5px #aaaaaa;
}

.artigos {
    width: 480px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.artigos h1 {
    font-size: 20px;
}

.artigos p {
    padding-bottom: 3px;
}

.artigo-1 {
    display: flex;
    padding-bottom: 2px;
    flex: 1;
}

.artigo-1 img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 4.5px #aaaaaa;

}

.noticia-2 {
    width: 440px;
    display: flex;
    flex-direction: column;

}

.noticia-2 img {
    width: 190px;
    height: 120px;
    border-radius: 5px;
}

.noticia-2 h1 {
    font-size: 18px;
    margin-left: 10px;
}

article {
    flex-direction: column;
    margin-left: 10px;
}

article-2 {
    display: flex;
    flex: 1;
    margin-bottom: 10px;
}

.artigos a, .noticia-2 a{
    margin: 0;
}





footer {
    color: #ffffff;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(8, 3, 179, 1) 28%, rgba(0, 10, 83, 1) 100%);
}