*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    gap: 10px;
    padding: 20px;
    
}

.item{
    background-color: aqua;
    color: white;
    text-align: center;
    padding: 20px;
}



.item:nth-child(3){
    background-color: rgb(226, 131, 43);
}
.item1{
    background-color: blue;
}


@media  (min-width: 750px){
    .grid-container{
    grid-template-columns: repeat(3, 1fr);
}
}